* {
    font-family: "Courier New", Courier, monospace !important;
}

header img {
    float: left;
    width: 100px;
    height: 95px;
}

header h1 {
    display:inline-block;
    left: 10px;
    top: 10px;
    position: relative;
}

.rss-logo {
    vertical-align: middle;
    width: 24px;
    height: 24px;
}

.rss-subscribe {
    font-weight: bold;
    font-size: small;
}

#content {
    padding-left:5%;
    padding-right:5%;
}

a {
    color: #4464AD;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

.post-list {
    list-style-type: none;
}

.post-list-title {
    margin-bottom: 0;
    padding-bottom: 0;
}

.excerpt {
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 25px;
}

.excerpt p{
    display: inline;
}

.post-content-image {
    width: 100%;
    display: block;
    margin: 0 auto;
    font-style: italic;
    padding: 5px;
    border: 1px solid black;
}

.post-content-image-caption {
    font-style: italic;
    text-align:center;
}


@media (min-width: 1280px) {
    .post-content-image {
        width: 40%;
    }
}

.post-info-box{
    display: block;
    padding: 1em 20px 1em 20px;
    border-left: 4px solid #4464AD;
    background-color: #6983BD24;
    font-style: italic;
}

.post-alert-box {
    display: block;
    padding: 1em 20px 1em 20px;
    border-left: 4px solid #DDDA00;
    background-color: #DDDA001C;
    font-style: italic;

}


.post-code-chunk {
    display: block;
    padding: 10px;
    border: 1px solid #4464AD;
    overflow-x: auto;
    background-color: #D9E0EE3A;
}

.post-math {
    overflow-x: auto;
}

.post-table {
    margin: 0 auto;
    border-collapse: collapse;
}

.post-table td, .post-table th {
    border: 1px solid black;
}

.post-table th {
    padding: 5px;
}

.post-table-caption {
    text-align: center;
    font-style: italic;
}

.post-meta {
    font-style: italic;
    font-size: small;
}

.post-share-logo {
    vertical-align: middle;
    width: 32px;
    height: 32px;
}


.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.tech {
    font-weight: bold;
    font-style: italic;
    color: #575757;
}

.underscore_key{
    text-decoration: underline;
    -webkit-text-decoration-color: red; /* Safari */
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}

.underscore_data {
    text-decoration: underline;
    -webkit-text-decoration-color: orange; /* Safari */
    text-decoration-color: orange;
    text-decoration-thickness: 2px;
}

.underscore_stat_or {
    text-decoration: underline;
    -webkit-text-decoration-color: green; /* Safari */
    text-decoration-color: green;
    text-decoration-thickness: 2px;
}

.underscore_infra {
    text-decoration: underline;
    -webkit-text-decoration-color: blue; /* Safari */
    text-decoration-color: blue;
    text-decoration-thickness: 2px;
}

.underscore_embed {
    text-decoration: underline;
    -webkit-text-decoration-color: purple; /* Safari */
    text-decoration-color: purple;
    text-decoration-thickness: 2px;
}

.project-card {
  display: flex;
  margin-top:50px;
  margin-bottom: 50px;
  border: 2px solid #4464AD;
  background: #FFFFFF;
  background: linear-gradient(90deg, #FFFFFF 0%, #D9E0EE 50%, #D9E0EEAF 75%);
  min-height: 150px;
  min-width: 400px;
}

.project-card-img {
    float: left;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:10px;
}

.project-card-content {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.project-card-links-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 10px 0px;
}

.project-card-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}




