* {
    font-family: "Courier New", Courier, monospace !important;
}

header img {
    float: left;
}

header h1 {
    display:inline-block;
    left: 10px;
    top: 10px;
    position: relative;
}

a {
    color: #4464AD;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

.post-meta {
    font-style: italic;
    font-size: small;
}

.bold {
    font-weight: bold;
}

.tech {
    font-weight: bold;
    font-style: italic;
    color: #575757;
}

.underscore_key{
    text-decoration: underline;
    -webkit-text-decoration-color: red; /* Safari */
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}

.underscore_infra {
    text-decoration: underline;
    -webkit-text-decoration-color: orange; /* Safari */
    text-decoration-color: orange;
    text-decoration-thickness: 2px;

}

.underscore_embed {
    text-decoration: underline;
    -webkit-text-decoration-color: green; /* Safari */
    text-decoration-color: green;
    text-decoration-thickness: 2px;
}

.underscore_data {
    text-decoration: underline;
    -webkit-text-decoration-color: blue; /* Safari */
    text-decoration-color: blue;
    text-decoration-thickness: 2px;
}
