* {
    font-family: "Courier New", Courier, monospace !important;
}

header img {
    float: left;
}

header h1 {
    display:inline-block;
    left: 10px;
    top: 10px;
    position: relative;
}

#content {
    padding-left:5%;
    padding-right:5%;
}

a {
    color: #4464AD;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

.post-list {
    list-style-type: none;
}

.post-list-title {
    margin-bottom: 0;
    padding-bottom: 0;
}

.excerpt {
    font-style: italic;
    padding-top: 10px;
    padding-bottom: 25px;
}

.excerpt p{
    display: inline;
}

.post-content-image {
    width: 100%;
    display: block;
    margin: 0 auto;
    font-style: italic;
}

.post-content-image-caption {
    font-style: italic;
    text-align:center;
}


@media (min-width: 1280px) {
    .post-content-image {
        width: 40%;
    }
}

.post-blockquote{
    display: block;
    padding: 1em 20px 1em 20px;
    border-left: 4px solid #4464AD;
    font-style: italic;
    background: #EDEDED;
    position: relative;
}

.post-blockquote p::before {
    content: "\201C";
    font-family: Arial;
    font-size: 4em;
    color: #4464AD;
    position: absolute;
    top: -5px;
    left: 10px;
}

.post-code-chunk {
    display: block;
    padding: 10px;
    border: 1px solid #4464AD;
    overflow-x: auto;
}

.post-math {
    overflow-x: auto;
}

.post-table {
    margin: 0 auto;
    border-collapse: collapse;
}

.post-table td, .post-table th {
    border: 1px solid black;
}

.post-table th {
    padding: 5px;
}

.post-table-caption {
    text-align: center;
    font-style: italic;
}

.post-meta {
    font-style: italic;
    font-size: small;
}

.post-share-logo {
    vertical-align:middle;
}


.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.tech {
    font-weight: bold;
    font-style: italic;
    color: #575757;
}

.underscore_key{
    text-decoration: underline;
    -webkit-text-decoration-color: red; /* Safari */
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}

.underscore_or {
    text-decoration: underline;
    -webkit-text-decoration-color: orange; /* Safari */
    text-decoration-color: orange;
    text-decoration-thickness: 2px;
}

.underscore_data {
    text-decoration: underline;
    -webkit-text-decoration-color: green; /* Safari */
    text-decoration-color: green;
    text-decoration-thickness: 2px;
}

.underscore_infra {
    text-decoration: underline;
    -webkit-text-decoration-color: blue; /* Safari */
    text-decoration-color: blue;
    text-decoration-thickness: 2px;

}

.underscore_embed {
    text-decoration: underline;
    -webkit-text-decoration-color: purple; /* Safari */
    text-decoration-color: purple;
    text-decoration-thickness: 2px;
}


