---
layout: default
---

<h2 style="margin-bottom:0; padding-bottom:0;">{{ page.title }}</h2>


<span class="post-meta"> -> en <a href="{{site.url}}/category/{{ page.category }}">/{{page.category}}/</a> - {{
    page.date| date: site.date_format }} ({{page.readtime}} min.). <span class="bold"> Comparte: </span>
    <a href="https://twitter.com/intent/tweet?text={{page.title}} via fynardo.dev" target="_blank">
        <img class="post-share-logo" src="{{site.url}}/assets/img/twitter_logo_blue.png"></img>
    </a>

    <!-- linkedin: https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Ffynardo.github.io/ -->
</span>


{{ content }}


<span class="post-meta"> -> en <a href="{{site.url}}/category/{{ page.category }}">/{{page.category}}/</a> - {{
    page.date| date: site.date_format }}. <span class="bold"> Comparte: </span>
    <a href="https://twitter.com/intent/tweet?text={{page.title}} via fynardo.dev" target="_blank">
        <img class="post-share-logo" src="{{site.url}}/assets/img/twitter_logo_blue.png"></img>
    </a>

    <!-- linkedin: https://www.linkedin.com/sharing/share-offsite/?url=https%3A%2F%2Ffynardo.github.io/ -->
</span>
